@import "../main.scss";

.hero-section {
    width: 100%;
    height: 100vh;
    padding: 0 25px;
    flex-direction: column;
    @extend %space-between;
    background: $color-off-white;
    
    @media (min-width: 900px) {
        flex-direction: row;
        position: relative;
        padding: 0 100px;
    }

    @media (min-width: 1200px) {
    }

    .left-content {
        width: 90%;
        height: 100%;
        @extend %center;

        @media (min-width: 900px) {
            width: 40%;    
        }

        .cta-container {
            z-index: 2;
            h1 {
                font-size: 40px;
                margin-bottom: 20px;

                @media (min-width: 900px) {
                    font-size: 50px;
                }

                @media (min-width: 1200px) {
                    font-size: 60px;
                }
            }
            
            p {
                margin-bottom: 20px;
            }
        }
    }

    .right-content {
        width: 50%;
        display: none;
        
        @media (min-width: 900px) {
            display: block;    
        }

        img {
            z-index: 1;
            width: 100%;

            @media (min-width: 900px) {
                top: 50%;
                right: 25px;
                position: absolute;
                transform: translateY(-50%);   
            }

            @media (min-width: 900px) {
                right: 15px;
            }
        }
    }
}

.services-section {
    .services-container {
         width: 100%;
         flex-wrap: wrap;
         flex-direction: column;
         @extend %space-between;

         @media (min-width: 800px) {
              flex-direction: row;   
         }
         
         .service + .service {
              margin-top: 30px;
              
              @media (min-width: 800px) {
                   margin-top: 0;
              }
         }

         .service {
              width: 100%;
              height: 310px;
              max-width: 300px;
              overflow: hidden;
              border-radius: 5px;
              background: $color-white;
              border-bottom-right-radius: 50px;
              border: 2px solid $color-primary;
              
              @media (min-width: 800px) {
                   &:not(:last-child) {
                        margin-bottom: 20px;
                   }
              }

              .service-header {
                   position: relative;
                   padding: 10px 10px 10px 40px;
                   border-bottom: 2px solid $color-primary;
                   
                   h3 {
                        font-size: 25px;
                   }
              }

              .service-body {
                   padding: 30px 10px 0 10px;

                   ul {
                        margin-left: 20px;
                   }
              } 
         }
    }
}


